body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.product.row {
  padding: 10px;
}

.product.row div{
  max-width: 400px;
  max-height: 500px;
}

.product.row img {
  width: 400px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  text-decoration: none;
}

.topnav a:visited {
  text-decoration: none;
  color: black
}

.lefttopnav {
  float: left;
}

.righttopnav {
  float: right;
}