body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding-left: 20px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgb(248, 245, 245);
}

.product.row {
  padding: 10px;
}

.product.row div{
  max-width: 400px;
  max-height: 500px;
}

.product.row img {
  width: 400px;
}

.productTitle {
height: 64px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  text-decoration: none;
  color: black;
}

.topnav h1 {
  font-size: 30px;
  border-right: 6px solid #ccc!important;
  padding-right: 8px;
}

.topnav a:visited {
  text-decoration: none;
  color: black
}

.lefttopnav {
  float: left;
}

.righttopnav {
  float: right;
  margin-right: 20px
}

.righttopnav a{
  margin-top:20px;
  font-size:20px;
}

.righttopnav a:hover{
  color:darkgrey;
}

.MuiButton-root{
  text-decoration: none;
  color: black
}

.active {
  color: #1976d2;
}

.authform {
  background-color: rgb(248, 245, 245);
}

.settingsDiv,
.muiBoxSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muiBoxSettings .MuiPaper-root {
  margin: 10px;
}

.product-details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.single-product {
  background-color:rgb(248, 245, 245);
  margin: 20px;
  padding: 30px;

}

.single-image {
  border: 1px solid rgba(225, 220, 220, 0.5);
  height: 400px;
  width: 500px;
}

.single-add-cart {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgb(54, 104, 241);
  background-color: white;
  border: none;
}

.single-add-cart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cartImage {
  height: 150px;
  width: 175px;
  float: left;
  margin-right: 40px;
}

.guestCartHolder {
  background-color:rgb(248, 245, 245);
  padding-top: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-right: 75px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.shoelist {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
