body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding-left: 20px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgb(248, 245, 245);
}

.product.row {
  padding: 10px;
}

.product.row div{
  max-width: 400px;
  max-height: 500px;
}

.product.row img {
  width: 400px;
}

.productTitle {
height: 64px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  text-decoration: none;
  color: black;
}

.topnav h1 {
  font-size: 30px;
  border-right: 6px solid #ccc!important;
  padding-right: 8px;
}

.topnav a:visited {
  text-decoration: none;
  color: black
}

.lefttopnav {
  float: left;
}

.righttopnav {
  float: right;
  margin-right: 20px
}

.righttopnav a{
  margin-top:20px;
  font-size:20px;
}

.righttopnav a:hover{
  color:darkgrey;
}

.MuiButton-root{
  text-decoration: none;
  color: black
}

.active {
  color: #1976d2;
}

.authform {
  background-color: rgb(248, 245, 245);
}

.settingsDiv,
.muiBoxSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muiBoxSettings .MuiPaper-root {
  margin: 10px;
}